---
layout: default
navType: blog
---
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="bs-callout bs-callout-green">
      <header class="post-header">
        <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
        <p class="post-meta">
          <span class="" style="font-style: italic; font-size: 15px; color: gray;">Posted on {{ page.date | date: date_format }} by <a href="{{site.github.url}}/ourteam" class="ember-view active">{{ page.originalAuthor }}</a></span>
        </p>
      </header>

      <br><br>
    <!-- </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="bs-callout bs-callout-green"> -->
    {{ content }}
    </div>
  </div>
</div>
