{{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=8000
  arrows=true
  dots=true
  fade=true}}
  <div>
    <img src="img/playground.jpg">
    <div class="carousel-caption">
      <h3>About</h3>
      <p>Lakeview Speech and Language Clinic offers in-home therapy to children and their families in Oak Park, IL and Chicago, IL.</p>
    </div>
  </div>
  <div>
    <img src="img/seesaw.jpg">
    <div class="carousel-caption">
      <h3>Mission</h3>
      <p>Our mission is to connect with your child and family to promote and teach skills in order to enrich your lives in all environments. Our therapy sessions are energized and motivational, and use naturalistic materials and activities.</p>
    </div>
  </div>
  <div>
    <img src="img/lake.jpg">
    <div class="carousel-caption">
      <h3>Services</h3>
      <p>We specialize in providing pediatric speech-language and occupational evaluations and therapies. {{#link-to 'services'}}Learn more about our services{{/link-to}}</p>
    </div>
  </div>
{{/slick-carousel}}

<br>

<div class="bs-callout bs-callout-green">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="img/tracy_circle.png" width="140" data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      Founder, Tracy Trumbell, studied at Northwestern University in Evanston, Illinois, where she earned her Master of Arts degree in Speech-Language Pathology. She has six years of experience providing speech and language therapy to children, specializing in autism spectrum disorders, augmentative and alternative communication, developmental delay, childhood apraxia of speech, and language delay.
      <br><br>
      Tracy is passionate about incorporating play and movement into exciting, motivational therapy. She is dedicated to collaborating with clients and their families to develop functional, individualized, and evidence-based therapy plans. She is certified by the American Speech-Language-Hearing Association and holds a current State of Illinois license.
    </div>
  </div>

</div>
