{{#swiper-container pagination=true loop=true registerAs=carousel}}
  {{#swiper-slide}}
    <img src="img/playground.jpg">
    <div class="carousel-caption">
      <h3>About</h3>
      <p>Lakeview Speech and Language Clinic offers in-home therapy to children and their families in Oak Park, IL and Chicago, IL.</p>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <img src="img/seesaw.jpg">
    <div class="carousel-caption">
      <h3>Mission</h3>
      <p>Our mission is to connect with your child and family to promote and teach skills in order to enrich your lives in all environments. Our therapy sessions are energized and motivational, and use naturalistic materials and activities.</p>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide}}
    <img src="img/lake.jpg">
    <div class="carousel-caption">
      <h3>Services</h3>
      <p>We specialize in providing pediatric speech-language and occupational evaluations and therapies. {{#link-to 'services'}}Learn more about our services{{/link-to}}</p>
    </div>
  {{/swiper-slide}}
{{/swiper-container}}
<br>
<br>
