<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Speech Sound Therapy</h3>
      <p>Speech sound therapy involves teaching your child to spontaneously and correctly produce speech sounds. These services assist children and their families who may have been diagnosed with: Speech Sound Delay/Disorder, Phonological Delay/Disorder, (Suspected) Childhood Apraxia of Speech, Motor Speech Planning Delay/Disorder, or other neurodevelopmental disorders or syndromes.</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Language Therapy</h3>
      <p>Language therapy includes play-based activities, rule-based games, language bombardment, as well as explicit teaching of language concepts. Language therapy may be appropriate for those diagnosed with: Speech Delay (“Late Talker”), Receptive and/or Expressive Language Delay/Disorder, Autism Spectrum Disorder, or other neurodevelopmental disorders or syndromes.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Occupational Therapy</h3>
      <p>Our occupational therapy benefits those who may have been diagnosed with: Visual Perceptual Delay, Sensory Processing Disorder, Dysgraphia, Fine Motor Planning difficulties, Attention-Deficit/Hyperactivity Disorder, Autism Spectrum Disorder, or other neurodevelopmental disorders or syndromes.</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>AAC Therapy</h3>
      <p>Augmentative and alternative communication (AAC) therapy involves the use of both static items (such as pictures) and dynamic options (such as a speech generating device). Using pictures or a communication device gives your child a voice, a means of expression, which is celebrated and practiced throughout this type of intervention.</p>
    </div>
  </div>
</div>
