<div class="bs-callout bs-callout-green">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="img/tracy.jpg" width="100" data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      Founder, Tracy Trumbell, studied at Northwestern University in Evanston, Illinois, where she earned her Master of Arts degree in Speech-Language Pathology. She has provided speech and language therapy to children since 2007, specializing in autism spectrum disorders, augmentative and alternative communication, childhood apraxia of speech, language delay, as well as speech sound disorders. Tracy is passionate about incorporating play and movement into exciting, motivational therapy. She is dedicated to collaborating with clients and their families to develop functional, individualized, and evidence-based therapy plans. She is certified by the American Speech-Language-Hearing Association and holds a current State of Illinois license.
    </div>
  </div>
</div>

<div class="bs-callout bs-callout-green">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="img/erica.jpg" width="100" data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      Erica Seifert is a Speech-Language Pathologist Clinical Fellow holding a Master of Science in Speech, Language, and Learning from Northwestern University.  She has worked with children of various ages in clinical, hospital, and early childhood settings.  Erica believes that children learn best through play, and strives to provide personalized, functional activities that are fun and motivating for her clients. While obtaining her undergraduate degree from the University of Michigan, she completed an honors thesis in the Bilingual Language & Literacy lab which focused on bilingual children's acquisition of syntax.  In her free time, Erica likes to read, cook, explore the city of Chicago, or spend time with her cat, Frodo.
    </div>
  </div>
</div>
