<div class="bs-callout bs-callout-green">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="img/tracy.jpg" width="100" data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      Founder, Tracy Trumbell, studied at Northwestern University in Evanston, Illinois, where she earned her Master of Arts degree in Speech-Language Pathology. She has six years of experience providing speech and language therapy to children, specializing in autism spectrum disorders, augmentative and alternative communication, developmental delay, childhood apraxia of speech, and language delay.
      Tracy is passionate about incorporating play and movement into exciting, motivational therapy. She is dedicated to collaborating with clients and their families to develop functional, individualized, and evidence-based therapy plans. She is certified by the American Speech-Language-Hearing Association and holds a current State of Illinois license.
    </div>
  </div>
</div>

<div class="bs-callout bs-callout-green">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="img/jo.jpg" width="100" data-holder-rendered="true">
      </a>
    </div>
    <div class="media-body">
      Josephine is a Speech-Language Pathologist holding a Master of Science in Speech

      and Language Pathology from Marquette University in Milwaukee, Wisconsin and a

      Certificate of Clinical Competence from the American Speech-Language-Hearing

      Association (ASHA). She has eight years of professional experience working with

      children affected by a wide variety of speech-language disorders with a focus on Autism

      Spectrum Disorders. Josephine has worked in both schools and clinics and is trained in

      the Sequential Oral Sensory (S.O.S.) approach to feeding and the Kaufman Protocol for

      children with Apraxia.
    </div>
  </div>
</div>
