<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Jenny H., Naperville, IL</h3>
      <p>I don't write many reviews, but I had to write about Tracy Trumbell.  We just loved her.  My son had just been released from EI in April, and we really felt that he needed to continue speech services over the summer before entering the school district's phonological program.  I couldn't have found a better speech therapist for my son!  What was meant to just be a bridge of sorts turned into us staying with her until he "graduated" from speech services. You can tell Tracy loves what she does and she does it well.  She is resourceful, has great learning activities, and provides "homework" for you to work on in between sessions.  My son really looked forward to seeing her and had no idea it was for speech. Her enthusiasm is genuine and I really felt that that played a big part in his progress.</p>

      <p>Fast forward a couple of years and I'm currently trying to figure out a way so that my middle son can see her too. (Our insurance changed.)</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Jenny K., Oak Park, IL</h3>
      <p>Tracy was great, and I would highly recommend her practice.

      I contacted her after I was concerned about a possible language delay in my two year old son.  He had been experiencing chronic ear infections, and seemed (to me) to be a little delayed compared to some of his peers.

      My doctor suggested that I call ei, which turned out to not be so helpful FOR ME, so I did a little research on my own.  That's how I found Tracy.

      She came to our house at a time that was convenient for us, and was so kind with my son.  After her assessment, it turns out that he is within normal limits for his age, so we will not need to continue with therapy.

      However, my rating is for her flexibility, kindness, professionalism, and honest expert opinion!  She really put my mind at ease.  Also, she is very responsive, which is meaningful to me as well.

      If you are looking for a speech and language therapist for your child, and are as confused by all the options as I was, I recommend giving Tracy a call to see how she can help you.​
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>Justin M., Chicago, IL</h3>
      <p>
      We have been working with Tracy Tumbell for the last month for our 2 year old boy with language delay. From the beginning, we noticed many strengths Tracy exhibited in her role as a speech and language pathologist.

      She is extremely organized and has tremendous skill in what she does.  Tracy notified us about the billing and evaluation process ahead of time so we knew what to expect in terms of insurance paperwork and billing.  She assessed our son with standardized outcome measures and submitted a formal report to us and our son's pediatrician specifying long and short term goals.  We have since had several treatment sessions with Tracy and she consistently follows up with detailed progress notes and  activities we can do with our son to facilitate his language development. Tracy provides this information to us the day of our son's treatment sessions and provides visual instructions as needed to further explain short and long term goals she has established.

      We are so glad we have chosen Tracy as our speech and language pathologist , as the improvements we have seen in a month have been so rewarding to see for our son.  He is more animated, produces  more verbal speech and sign language , and also engages in more pretend play (all appropriate for his age).

      We highly recommend Tracy's services!​
      </p>
      </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="bs-callout bs-callout-green">
      <h3>​​Kelly S., Lisle, IL</h3>
      <p>
      Tracy is the most amazing speech therapist- and our family has been around the block with therapists. We have seen therapists in the hospital setting, and through private practice, and I can say unequivocally that Lakeview Speech is the best in the business. Tracy is extremely knowledgeable about speech therapy, speech disorders, articulation disorders, and everything in between. She is great with children - nurturing and compassionate, while also motivating and encouraging. She is amazing - gained my daughter's trust in the first session, and my 3 year old looks forward to every session. Tracy gets results too -- sometimes with speech therapy, it's hard to see the forest through the trees, and Tracy keeps the progress moving at a steady rate without overwhelming my daughter. She brings excellent activities to work on, keeps us 100% informed of what to do, homework for us to complete with my daughter, and is totally open to questions and concerns. I always feel that she genuinely cares for my daughter and is as excited about my daughter's progress as we are. I felt so relieved when we began working with Tracy - we went from severe articulation and speech delays/problems -- and now are lightyears from where we began, only one year later.

      Working with Tracy is wonderful. She is genuine, talented, and caring - you will not find a better therapist out there! I will be grateful to her forever for helping my sweet three year old find her voice and unlock the ability to speak. It is a gift - and all because of her talents! Wish I could rate higher than five stars....​
      </p>

    </div>
  </div>
</div>
